.home {
  max-width: 1500px;
}

.home .post {
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.685);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.home .post small {
  font-size: 1em;
}
.home .post h2 {
  font-size: 2em;
}
.home .post p {
 font-size: 1.5em;
}
.home .post a {
background-color: rgb(255, 94, 0);
padding: 5px 10px;
border-radius: 10px;
color: #fff;
}

.home .post button {
  width: 150px;
}

.btn-delete,
.btn-update {
  padding: 5px;
  color: #fff;
  border-radius: 7px;
  font-size: 16px;
}

.btn-delete {
  background-color: red;
}

.btn-update {
  background-color: royalblue;
}

.home .post a {
  background-color: rgba(255, 0, 0, 0.425);
  width: fit-content;
  align-self: flex-end;
}

.single-post {
  grid-column: 3/8;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.685);
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}
