@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --pageWidth: 1200px;
    --fontSizeMain: 20px;
    --articleBodyWidth: 900px;
    --lightColor: #fff;
    --darkColor: #000000;
    --fontLight: #fff;
    --fontDark: #000000;
    --pageFont: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: var(--fontDark);
    font-size: var(--fontSizeMain);
}
a:visited {
    color: var(--fontDark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--pageFont);
}

#root {
    min-height: 100vh;
}

/* Notification */
.notification {
    position: fixed;
    top: -100px;
    left: -360px;
    left: 5px;
    border-radius: 15px;
    z-index: 1;
    padding: 10px 20px;
    width: fit-content;
    width: 330px;
    text-align: center;
    color: var(--fontLight);
    transition: all 0.5s ease-in;
    text-shadow: 5px 5px 25px #000000;
    opacity: 0;
}
.notification img {
    width: 50px;
    display: block;
    margin: auto;
}
.notification.success {
    top: 128px;
    opacity: 1;
    /* left: 0; */
    background: linear-gradient(0deg, rgba(0,255,239,0.8295693277310925) 0%, rgba(77,255,0,1) 31%, rgba(2,247,51,0.4150035014005602) 100%);
}
.notification.error {
    top: 128px;
    opacity: 1;
    /* left: 0; */
    background: linear-gradient(0deg, rgba(255,0,159,0.5662640056022409) 0%, rgba(255,0,0,1) 31%, rgba(247,145,2,0.4150035014005602) 100%);
}

.App {
    position: relative;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App .gm-logo{
   position: absolute;
   top: 150px;
   width: 300px;
   left: 15px;
   z-index: -2;
   display: none;
}

/* Navbar */
.navbar,
.sidebar {
    position: fixed;
    background-color: var(--lightColor);
    z-index: 100;
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
}
.navbar .container {
    max-width: var(--pageWidth);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar .container .logo {
   font-size: 50px;
}
.navbar .container .logo span {
   font-size: 10px;
}
.navbar .container .links {
    margin:auto 0 auto 10px;
}
.navbar .container .links a {
    margin-left: 20px;
}
.navbar .container .links .active {
    border-bottom: var(--darkColor) 2px solid;
}

/* Sidebar(Secondary navbar) */
.sidebar {
    top: 77px;
    padding: 0;
    background-color: rgb(75, 75, 75);
}
.sidebar ul {
    max-width: var(--pageWidth);
    margin: auto;
    display: flex;
}
.sidebar ul a {
    color:#fff;
    padding: 10px;
}
.sidebar ul .active {
    background-color: var(--lightColor);
    color: var(--darkColor);
    font-weight: bold;
}

/* Content */
.content {
    margin: 135px auto;
    width: var(--pageWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    margin-top: auto;
    padding: 15px 0;
    width: 100%;
    background-color: rgb(230, 220, 210);
}
.footer .container{
    margin: auto;
    width: var(--pageWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .links{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.footer .container .links a i {
  font-size: 48px;
}
.footer .container .links a .fa-youtube {
  color: #FF0000;
}
.footer .container .links a .fa-facebook {
  color: #4267B2;
}
.footer .container .links a .fa-linkedin {
  color: #2867B2;
}