@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --lightColor: #fff;
    --darkColor: #000000;
    --fontLight: #fff;
    --fontDark: #000000;
    --pageWidth: 1200px;
    --fontSizeMain: 20px;
    --pageFont: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: var(--fontDark);
    font-size: var(--fontSizeMain);
}
a:visited {
    color: var(--fontDark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--pageFont);
}

#root {
    min-height: 100vh;
}

.App {
    position: relative;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App .gm-logo{
   position: absolute;
   top: 15px;
   width: 300px;
   left: 15px;
}

/* Navbar */
.navbar,
.sidebar {
    margin: 0 auto;
    width: 100%;
}
.navbar .container {
    max-width: var(--pageWidth);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar .container .logo {
   font-size: 50px;
}
.navbar .container .logo span {
   font-size: 10px;
}
.navbar .container .links {
    margin:auto 0 auto 10px;
}
.navbar .container .links a {
    margin-left: 20px;
}

/* Sidebar(Secondary navbar) */
.sidebar ul {
    max-width: var(--pageWidth);
    margin: auto;
    display: flex;
}
.sidebar ul a {
    margin-right: 20px;
}

/* Content */
.content {
    margin: 0 auto;
    width: var(--pageWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    margin-top: auto;
    width: 100%;
}
.footer .container{
    margin: auto;
    width: var(--pageWidth);
    display: flex;
    justify-content: space-between;
}
.footer .container .links{
    width: 350px;
    display: flex;
    justify-content: space-between;
}